#id button{
    position: absolute;
    top: 0px;
    right: 0px;
}

:root {
    --size: 100px;
    --frames: 62;
  }
  
  html {
    user-select: none;
  }


  .likeContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }

.workoutLogContainer {
    border-radius: 5px;
    outline: 2px solid  rgb(195, 185, 185);
    margin: 2em;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: column;
}

.workoutLogFirst {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.workoutLogSecond {

}

.likeButton {
    margin: auto;
    justify-content: center;
    align-items: center;
}

.curl {
    color: aqua;
}

.pushup {
    color: blueviolet;
}

.squat {
    color: violet;
}

.heartInput {
  display: none;
}

.workoutCount {
    display: flex;
    font-size: 6em;
    color: black;
    font-weight: 700;
    align-items: center;
    justify-content: center;
}

  
  .like {
    display: block;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    border-radius: 999px;
    overflow: visible;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }
  
  .hearth {
    background-image: url('../img/heartAnimation.svg');
    background-size: calc(var(--size) * var(--frames)) var(--size);
    background-repeat: no-repeat;
    background-position-x: calc(var(--size) * (var(--frames) * -1 + 2));
    background-position-y: calc(var(--size) * 0.02);
    width: var(--size);
    height: var(--size);
  }
  
  input:checked + .hearth {
    animation: like 1s steps(calc(var(--frames) - 3));  
    animation-fill-mode: forwards;
  }
  
  @keyframes like {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: calc(var(--size) * (var(--frames) * -1 + 3));
    }
  }
  
  @media (hover: hover) {
    .like:hover {
      background-color: #E1255E15;
      .hearth {
        background-position-x: calc(var(--size) * (var(--frames) * -1 + 1));
      }
    }
  }