
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  border-right: 3px solid #9457F8;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  text-align: center;
  justify-content: center;
  margin: auto;
  height: 100%;

}

.h2 {
  text-align: center;
  justify-content: center;
  margin: auto;
  padding: 10px;
  padding-bottom: 10rem;
  padding-top: 10rem;
  color: black;
  font-weight: bold;
}

.buttonDivs{
  padding-top: 5em;
  text-align: center;
  justify-content: center;
  margin: auto;
}

